# .git is needed: setuptools_scm derives the version from it.
.venv*/
.tox/
.mypy_cache/
.pytest_cache/
.coverage*
htmlcov/
build/
dist/
**/__pycache__/
*.egg-info/
docs/
tests/
.devcontainer/
.github/
